<div class="prodcut-card-wrapper">
  <mat-card class="example-card">
    <img
      mat-card-image
      [src]="product.image"
      [alt]="product.title"
      onerror="this.src='https://placehold.co/600x400'"
    />
    <mat-card-content>
      <p class="mat-body-strong">Title: {{ product.title | truncate : 20 }}</p>

      <p class="mat-body-strong">Category: {{ product.category }}</p>

      <div class="d-flex align-items-center justify-content-between m-0">
        <div class="rating-wrapper d-flex">
          <mat-icon *ngFor="let star of ratingArr"> star </mat-icon>
        </div>
        <p class="m-0 mat-body-strong">{{ product.price }}</p>
      </div>

      <div class="go-to-details-button">
        <button
          mat-raised-button
          color="primary"
          class="my-3"
          (click)="goToDetails(product.id)"
        >
          Go To Product Details
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
